html {
  min-width: 320px;
  background: #eeeade;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button,
input,
textarea,
select {
  font: inherit;
}

#root {
  min-height: 100vh;
  width: 100%;
}
